.create-book{
    padding: 10%;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(187, 211, 201);
    border-radius: 10px;
}

.input{
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}