


.App {
  text-align: center;
  padding: 10%;
}

.button {
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
// .p-items{
//   // text-align: center;
//   font-size: 320;
// }
#p{
  float: left;
  color: rgb(197, 188, 188);
  font-size: 350;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 16px;
}
.nav-section{
  width: 100%;
  height: 75px;
  border-radius: 5px;
  background-color: #181818;
  box-sizing: border-box;
  
}

.nav-link{
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  float: right;
  margin-right: 16px;
  border-radius: 3px;
}


a:link, a:visited {
  
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #bfc1c4; /* Green */
  color: white;
}


// crud design

body{background-color:rgb(166, 232, 248);}
table{
	width:100%;
}
td form {
	margin:0;padding:0;
}
td form button.button{
	padding:0.25em;margin:0.25em;
	background:none;
	color:blue;
}
td form button.button:hover{
  background:none;
	color:steelblue;
}

// form 

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

